<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <title>slackorama.github.com</title>
    <meta name="author" content="Seth Mason">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <style type="text/css" media="screen">
    <!--
        body { background:#ddd;color:#000;font:12px tahoma,'trebuchet ms', sans-serif; }
        h1 { font:300% georgia,times,serif; }
     -->
     </style>
     <script type="text/javascript">
       <!--

       //-->
     </script>
  </head>
  <body>
    <div id="doc">
      <h1>slackorama.github.com</h1>
      <div id="content">
         {{ content }}
       </div>
     </div>
  </body>
</html>
